body {
    font-size: 16px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
    width: 100%;
    margin: 0;
}

.section{
    padding: 0 8px 0 8px;
    max-width: 100%;
}

p{
    overflow-wrap: break-word;
}

header {
    text-align: center;
    background-color: rgb(188, 220, 230);
}

h1 {
    font-size: 3.5rem;
    color: rgb(118, 53, 3);
}

#profile {
    border-radius: 50%;
    max-width: 10%;
    display: block;
    width: 100%;
    height: auto;
    padding-left: 8px;
}

.profile-row{
    display: flex;
}

.profile-container{
    display: flex;
    align-items: center;
}

nav {
    background-color: rgb(59, 111, 168);
    display: flex;
}

nav a {
    color:rgb(188, 220, 230);
    font-size: 1.5rem;
    text-decoration: none;
    padding: 10px;
}

nav a:hover {
    color:rgb(50, 49, 49);
  }
  
h2 {
    font-size: 2.5rem;
    color: rgb(50, 49, 49);
}

#surfing {
    border: 5px solid rgb(50, 49, 49);
    padding: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
img:hover {
    box-shadow: 0 0 10px 5px rgb(188, 220, 230);
}
.images {
    border: 5px solid rgb(50, 49, 49);
    padding: 5px;
    display: flex;
    justify-content: space-between;
    margin-left: 25%;
    margin-right: 25%;
    width: 25%;
}

@media only screen and (max-width: 600px) {
    .profile-row {
      flex-direction: column-reverse;
      justify-content: stretch; 
    }

    #profile{
        max-width: 80px;
        padding-left: 0;
        padding-bottom: 8px;
    }
    .profile-container{
        justify-content: center;
    }
}